body {
    background-color: #BD7AAB;
}

.navbar {
    margin-bottom: 10px;
    background-color: #890165 !important;
}

.nav-link{
    color: white;
    font-family: 'Expletus Sans', cursive;

}

h1,h2,h3,h4,h5 {
    color: white;
}

h6{
    color:  #890165;
}

footer {
	background-color: #890165;
	margin-top: 30px;
	padding: 10px 0;	
	
}

footer p {	
	color: white;
	font-size: 14px;
	font-family: 'Heebo', sans-serif;
}


.tabla-menu {
    --bs-table-bg: transparent
}


td.precio{

    color: #890165;
    font-weight: bold;
}